<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="third-button-style.css")
        title Document
    body
        button.simple-button.button-with-out-icon Download