<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="second-row.css")
        title Document
    body.body-second-row
        include active-button-tab/active-button-tab.pug
        style 
            include active-button-tab/active-button-tab.css

        include unactive-button-tab/unactive-button-tab.pug
        style 
            include unactive-button-tab/unactive-button-tab.css