<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="right-part.css")
        title Document
    body.body-right-part
        .body-error-search
            include error-search/error-search.pug
            style 
                include error-search/error-search.css
        .body-correct-search
            include correct-search/correcrt-search.pug
            style 
                include correct-search/correcrt-search.css