<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="third-row.css")
        title Document
    body.body-third-row
        include S/S.pug 
        style 
            include S/S.css

        include M/M.pug 
        style 
            include M/M.css

        include L/L.pug 
        style 
            include L/L.css