<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="first-row.css")
        title Document
    body.body-first-row
        include search/search.pug 
        style 
            include search/search.css
        
        include upload/upload.pug 
        style 
            include upload/upload.css

        include archive/archive.pug 
        style 
            include archive/archive.css