<!DOCTYPE html>
html(lang="en")
    include active-button/active-button.pug
    style 
        include active-button/active-button-style.css

    include unactive-button/unactive-button.pug
    style 
        include unactive-button/unactive-button-style.css
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="second-row-style.css")
        title Document
    body.body-second-row
