<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="fiveth-box.css")
        title Document
    body.body-fiveth-box
        .body-left-part
            include left-part/left-part.pug
            style 
                include left-part/left-part.css
        .body-right-part
            include right-part/right-part.pug
            style 
                include right-part/right-part.css