<!DOCTYPE html>
html(lang="en")
    link(rel="stylesheet", href="fourth-row-style.css")
    include first-el/first-button.pug
    style 
        include first-el/first-button-style.css
    
    include second-el/second-button.pug
    style
        include second-el/second-button-style.css
    
    include third-el/third-button.pug
    style
        include third-el/third-button-style.css
    
    include fourth-el/fourth-button.pug
    style
        include fourth-el/fourth-button-style.css
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body