<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="second-row.css")
        title Document
    body.body-second-row
        include active-search/active-search.pug 
        style 
            include active-search/active-search.css
        
        include unactive-search/unactive-search.pug 
        style 
            include unactive-search/unactive-search.css

        include unactive-search-two/unactive-search-two.pug 
        style 
            include unactive-search-two/unactive-search-two.css