.box {
    display: block;
}
.second-row {
    display: flex;
    justify-content: space-between;
    width: 610px;

}
.main-button, .unactive-button, .simple-button, .hover-button {
    padding: 0px 6px;
}
.third-row {
    display: flex;
    justify-content: space-between;
    width: 610px;

}
.fourth-row {
    display: flex;
    justify-content: space-between;
    width: 610px;

}
.button-with-out-icon, .main-button-with-out-icon {
    justify-content: center;
}