<!DOCTYPE html>
html(lang="en")
    .box
        include first-row/first-row.pug
        style 
            include second-row/second-row-style.css
        .second-row
            include second-row/second-row.pug
            style 
                include third-row/third-row-style.css
        .third-row
            include third-row/third-row.pug
            style 
                include fourth-row/fourth-row-style.css
        .fourth-row
            include fourth-row/fourth-row.pug
            style 
                include first-row/first-row-style.css
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="first-box-style.css")
        title Document
    body